@import "./../fonts/Gilroy/stylesheet.css";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Inter:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --text-product: #0D1B39;
  --text-muted: #8D8D8D;
  --header-text-color: #FFFFFF;
  --search-form-bg: #FFFFFF26;
  --search-form-border: #FFFFFF99;
  --product-bg: #F7F7F7;
  --tabs-bg: #EEEEEE;
  --tabs-hover: rgba(255, 255, 255, 0.5);
  --card-photo-bg: #FAFAFA;
  --footer-accent: #F6973F;
  --footer-bg:#2D2F33;
  --footer-text-color: #CDCDCD;
  --ui-orange: #E58411;
  --ui-biruza: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

/* @mixin - set instructions
@include - use instructions */
html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}
@media (max-width: 992px) {
  html,
  body {
    position: relative;
  }
}

.title-2 {
  font-size: clamp(26px, 1.339rem + 1.43vw, 42px);
  font-weight: 700;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--small {
  max-width: 1094px;
}

.hide {
  opacity: 0;
  display: none !important;
}

.header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 240px;
  background-color: var(--footer-bg);
  background-image: url("./../images/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    /* retina */
    background-image: url("./../images/header/header-bg@2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
}
@media (max-width: 992px) {
  .header {
    position: static;
  }
}
@media (max-width: 629px) {
  .header {
    padding-top: 20px;
    aspect-ratio: unset;
  }
}

.header__nav {
  margin-bottom: clamp(20px, -0.268rem + 7.59vw, 105px);
}

.header__content {
  text-align: center;
}

.header__title {
  margin-bottom: 14px;
  font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
  text-wrap: balance;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.header__text {
  margin-bottom: clamp(15px, 0.402rem + 2.68vw, 45px);
  font-size: clamp(12px, 0.696rem + 0.89vw, 24px);
  text-wrap: balance;
  line-height: 1.6;
  opacity: 80%;
}

/* Dots */
.header__dot {
  position: absolute; /* top, left should be in percentages in order to make it stick to its element (1440 = 100%, 685 = x; 100%/1440*685 = 47.5% */
}
@media (max-width: 992px) {
  .header__dot {
    display: none;
  }
}

.header__dot--sofa {
  top: 62.5461254613%;
  left: 19.2361111111%;
}

.header__dot--vase {
  top: 68.5424354244%;
  left: 7.1527777778%;
}

.header__dot--item {
  top: 71.6789667897%;
  left: 55.5555555556%;
}

.header__dot--wall {
  top: 72.8782287823%;
  right: 3.125%;
}

.logo {
  font-weight: 700;
  font-size: clamp(18px, 0.946rem + 0.89vw, 28px);
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--header-text-color);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
}

/* Tablet view */
.nav__btn-open {
  display: none;
}
@media (max-width: 992px) {
  .nav__btn-open {
    display: block;
  }
}

.nav-list {
  display: flex;
  gap: 65px;
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 992px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  position: relative;
  padding-bottom: 10px;
}

.nav-list__link {
  transition: opacity 100ms ease-in;
}
.nav-list__link:hover {
  opacity: 0.7;
}
.nav-list__link--dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-list__link--dropdown::after {
  content: url("./../images/icons/arrow-bottom.svg");
  height: 18px;
}

.nav-list__subnav {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(0, -50%);
  transition: all 200ms ease-in;
  pointer-events: none;
}

.nav-list__item:hover .nav-list__subnav {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: all;
}

.subnav {
  display: grid;
  gap: 16px;
  background-color: var(--search-form-bg);
  padding: 10px 15px;
  border-radius: 16px;
  color: var(--footer-text-color);
  font-size: 15px;
}

.subnav__link {
  transition: color 100ms ease-in;
}
.subnav__link:hover {
  color: var(--accent);
}

.cart {
  position: relative;
  justify-self: end;
  align-self: center;
}

.cart__count {
  position: absolute;
  top: 3px;
  right: -6px;
  display: inline-block;
  padding: 0 6px;
  height: 25px;
  line-height: 25px;
  font-family: var(--font-cards);
  font-weight: 500;
  border-radius: 60%;
  background-color: var(--ui-orange);
}

.search-form {
  margin: 0 auto;
  max-width: 344px;
  height: 56px;
  display: flex;
  padding: 8px 8px 8px 20px;
  gap: 10px;
  border-radius: 42px;
  border: 0.86px solid var(--search-form-border);
  justify-content: space-between;
  background-color: var(--search-form-bg);
}
@media (max-width: 819px) {
  .search-form {
    display: none;
  }
}

.search-form__input {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  flex-grow: 1;
}
.search-form__input::-moz-placeholder {
  color: var(--header-text-color);
  opacity: 80%;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.search-form__input::placeholder {
  color: var(--header-text-color);
  opacity: 80%;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--accent);
  flex-shrink: 0;
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 10px;
  height: 10px;
  background-color: var(--header-text-color);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.info-dot__rounding {
  width: 32px;
  height: 32px;
  background-color: var(--search-form-border);
  border-radius: 50%;
  border: 1px solid var(--header-text-color);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

.info-dot:hover .info-dot__rounding {
  animation: pulse 1s infinite alternate paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 112px;
  height: 56px;
  padding-top: 12px;
  background-image: url("./../images/icons/tooltip.svg");
}

.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("./../images/icons/check-no-shadow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--header-text-color);
  border-radius: 50%;
  background-color: var(--ui-orange);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint__radio-fake--orange {
  /* modificators should have a separated class name, example: info-hint__radio-fake  info-hint__radio-fake--orange*/
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: clamp(30px, -0.536rem + 8.93vw, 120px) 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* the same as -> grid-template-columns: 3fr 3fr 3fr 3fr; */
  gap: 20px;
  align-items: center;
}
@media (max-width: 992px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(30px, 0.06rem + 5.95vw, 60px) 20px;
  }
}
@media (max-width: 629px) {
  .benefits__grid {
    grid-template-columns: 1fr;
  }
}

.benefits__title {
  max-width: 260px; /* with a reserve because the font is rendered differently */
}

.benefit__title {
  margin-bottom: 20px;
  font-size: clamp(18px, 1.018rem + 0.54vw, 24px);
  font-weight: 700;
}

.benefit__text {
  margin-bottom: 14px;
  font-size: clamp(12px, 0.679rem + 0.36vw, 16px);
  line-height: 1.85;
  opacity: 0.8;
}

.products {
  background-color: var(--product-bg);
  padding: 50px 0;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
}

.products__tabs {
  margin-bottom: clamp(40px, 1.786rem + 3.57vw, 80px);
  text-align: center;
}

.products__slider {
  margin-bottom: clamp(30px, 1.339rem + 2.68vw, 60px);
}
@media (max-width: 1400px) {
  .products__slider {
    padding: 0 20px;
  }
}

.products__link {
  text-align: center;
}

.read-more {
  display: inline-flex; /* to make width by content, to make cursor area be only by content */
  gap: 13px;
  align-items: center;
  font-size: clamp(12px, 0.714rem + 0.18vw, 14px);
  font-weight: 500;
  line-height: 1.85;
  color: var(--accent);
}
.read-more::after {
  content: url("./../images/icons/arrow-right.svg");
  height: 24px; /* because of the line-height of link the height of arrow grow to 32px. to make it base at the center of text we write it built-in height */
}
.read-more--large { /* modificator */
  font-size: 18px;
}

.tab-controls {
  display: inline-flex; /* inside flex elemnts, outside inline */
  padding: 6px;
  border-radius: 44px;
  background-color: var(--tabs-bg);
}

.tab-controls__btn {
  height: clamp(32px, 1.768rem + 1.16vw, 45px);
  padding: clamp(3px, 0.116rem + 0.36vw, 7px) clamp(12px, 0.607rem + 0.71vw, 20px);
  border-radius: 32px;
  font-size: clamp(14px, 0.804rem + 0.36vw, 18px);
  font-weight: 500;
  line-height: 1.85;
  transition: background-color 0.15s ease-in;
}
.tab-controls__btn:hover {
  background-color: var(--header-text-color);
}
.tab-controls__btn--active {
  background-color: var(--header-text-color);
}

.card {
  position: relative;
  margin-top: 50px;
  width: 268px;
  border-radius: 20px;
  box-shadow: -10px 7px 33px -16px rgba(0, 0, 0, 0.25);
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__photo {
  height: 240px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  background-color: var(--card-photo-bg);
}

.card__img {
  margin-top: -50px;
}

.card__desc {
  padding: 13px 21px 27px;
  background-color: var(--header-text-color);
  border-radius: 0 0 20px 20px;
  font-family: var(--font-cards);
  color: var(--ui-dark-blue);
}

.card__category {
  position: relative;
  z-index: 1;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-muted);
}

.card__title,
.card__price {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
}

.card__title {
  margin-bottom: 6px;
}

.card__rating {
  margin-bottom: 36px;
  display: flex;
  gap: 3px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__currency {
  vertical-align: text-top;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  padding-right: 3px;
}

.card__btn {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 31px;
  background-color: var(--ui-dark-blue);
  transition: opacity 0.15s ease-in;
}
.card__btn:hover {
  opacity: 0.8;
}

.slider {
  position: relative;
}

.slider__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--header-text-color);
  box-shadow: 0px 7.03px 19.53px 0px rgba(0, 0, 0, 0.0588235294);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 629px) {
  .slider__btn {
    display: none;
  }
}

.slider__btn--prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slider__btn--next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

.swiper-button-disabled {
  opacity: 0;
}

.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: clamp(60px, 2.714rem + 5.18vw, 118px) 0 56px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}
.footer a {
  color: var(--footer-text-color);
  transition: opacity 100ms ease-in;
}
.footer a:hover {
  opacity: 0.6;
}

.footer__grid {
  margin-bottom: clamp(60px, 2.714rem + 5.18vw, 118px);
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
  gap: 20px;
}
@media (max-width: 992px) {
  .footer__grid {
    grid-template-columns: 3fr 1fr 3fr 3fr;
  }
}
@media (max-width: 629px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    gap: 60px 20px;
  }
}

@media (max-width: 629px) {
  .footer__desc {
    grid-column: 1/3;
  }
}

.footer__logo {
  margin-bottom: 29px;
}

.footer__nav--services {
  grid-column-start: 3;
}
@media (max-width: 629px) {
  .footer__nav--services {
    grid-column-start: auto;
  }
}

.footer__nav-title {
  margin-bottom: 20px;
  color: var(--footer-accent);
  font-family: var(--font-footer-accent);
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.23px;
}

.footer__nav-item {
  margin-bottom: 16px;
  font-family: var(--font-main);
  transition: opacity 200ms ease-in;
}
.footer__nav-item:last-child {
  margin-bottom: 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 629px) {
  .footer__row {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer__copyright {
  font-family: var(--font-footer-accent);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.footer__links {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 629px) {
  .footer__links {
    gap: 20px;
  }
}

.tablet-nav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  height: 150vh;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--footer-bg);
  overflow-y: scroll;
}
.tablet-nav a {
  color: var(--footer-text-color);
}
.tablet-nav a:hover {
  color: var(--accent);
}
.tablet-nav--open {
  display: block;
}
@media (min-width: 993px) {
  .tablet-nav {
    display: none;
  }
}

/* Nav header */
.tablet-nav__header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--search-form-border);
}

/* Nav list */
.tablet-nav__list {
  display: grid;
  gap: 20px;
}

.tablet-nav__item {
  font-size: 32px;
}

/* Subnav */
.tablet-subnav {
  display: grid;
  gap: 10px;
  padding: 10px 0 0 40px;
}

.tablet-subnav__item {
  font-size: 24px;
  list-style: circle;
  color: var(--footer-text-color);
}

/* Tablet cart */
.tablet-nav__cart {
  display: flex;
  align-items: end;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */