.tablet-nav {
  display: none;

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;

  width: 320px;
  height: 150vh;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--footer-bg);
  overflow-y: scroll;
  
  a {
    color: var(--footer-text-color);
&:hover {
    color: var(--accent);
}
  }

  &--open {
    display: block;
  }

  @media (min-width: 993px) {
    display: none;
  }
}
/* Nav header */

.tablet-nav__header {
  margin-bottom: 20px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--search-form-border);
}

/* Nav list */

.tablet-nav__list {
  display: grid;
  gap: 20px;
}
.tablet-nav__item {
  font-size: 32px;
}
.tablet-nav__link {
}
.tablet-nav__link--dropdown {
}

/* Subnav */

.tablet-subnav {
  display: grid;
  gap: 10px;
  padding: 10px 0 0 40px;
}
.tablet-subnav__item {
  font-size: 24px;
  list-style: circle;
  color: var(--footer-text-color);
}
.tablet-subnav__link {
}

/* Tablet cart */

.tablet-nav__cart {
  display: flex;
  align-items: end;
  gap: 20px;

  font-size: 20px;
  font-weight: 500;
}
