:root {
--text-color: #1E1E1E;
--accent: #E58411;
--text-product: #0D1B39;
--text-muted: #8D8D8D;

--header-text-color: #FFFFFF;
--search-form-bg: #FFFFFF26;
--search-form-border: #FFFFFF99;


--product-bg: #F7F7F7;
--tabs-bg: #EEEEEE;
--tabs-hover: rgba(255, 255, 255, 0.5);
--card-photo-bg: #FAFAFA;

--footer-accent: #F6973F;
--footer-bg:#2D2F33;
--footer-text-color: #CDCDCD;  

--ui-orange: #E58411; // separate colors for ui elements
--ui-biruza: #00D6C9;
--ui-gray: #7C7C7C;
--ui-dark-blue: #0D1B39;


--font-main: 'Gilroy', sans-serif;
--font-cards: 'Inter', sans-serif;
--font-footer-accent: 'DM Sans', sans-serif;


}









// password wifi fw: tpolis2803118
