
.benefit__title {
    margin-bottom: 20px;
    font-size: clamp(18px, 1.018rem + 0.54vw, 24px);
    font-weight: 700;
}
.benefit__text {
    margin-bottom: 14px;
    font-size: clamp(12px, 0.679rem + 0.36vw, 16px);
    line-height: 1.85;
    opacity: 0.8;
}
