.benefits {
    padding: 120px 0;
}

.benefits__grid {
display: grid;
grid-template-columns: repeat(4, 1fr); /* the same as -> grid-template-columns: 3fr 3fr 3fr 3fr; */
gap: 20px;
align-items: center;
}
.benefits__title {
    max-width: 260px; /* with a reserve because the font is rendered differently */
}



