.search-form {
  margin: 0 auto;
  max-width: 344px;
  height: 56px;
  display: flex;
  padding: 8px 8px 8px 20px;

  border-radius: 42px;
  border: 0.86px solid var(--search-form-border);
  justify-content: space-between;
  background-color: var(--search-form-bg);
}
.search-form__input {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;

  &::placeholder {
    color: var(--header-text-color);
    opacity: 80%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }
}

.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--accent);
}
