.tab-controls {
  display: inline-flex; /* inside flex elemnts, outside inline */
  padding: 6px;
  border-radius: 44px;
  background-color: var(--tabs-bg);
}
.tab-controls__btn {
  height: clamp(32px, 1.768rem + 1.16vw, 45px);
  padding: clamp(3px, 0.116rem + 0.36vw, 7px) clamp(12px, 0.607rem + 0.71vw, 20px);
  border-radius: 32px;

  font-size: clamp(14px, 0.804rem + 0.36vw, 18px);
  font-weight: 500;
  line-height: 1.85;

  transition: background-color 0.15s ease-in;
  

  &:hover {
background-color: var(--header-text-color);
  }

  &--active {
 background-color: var(--header-text-color);
}
}
